.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  backdrop-filter: blur(10px);
  background-color: #3c4ca380;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.5);
  padding: 15px 0;
}

.form {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #22313c;
  border: 1px solid #181938;
  transition: border 200ms linear;
  border-radius: 7px;
}

.input {
  font-size: 16px;
  width: 280px;
  color: var(--default-text-color);
  background-color: #b8c9d6;
  border: 1px solid transparent;
  outline: transparent;
  padding: 8px 16px;
}

.input::placeholder {
  color: #b8c9d6;
}

.btn {
  display: flex;
  align-items: center;
  color: #b0d3ec;
  background-color: #22313c;
  transition: background-color 200ms linear;
  outline: transparent;
  padding: 4px 6px;
}
